<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/peerjs@1.3.2/dist/peerjs.min.js"></script>
</head>
<body>

<video id="local-video" autoplay></video>
<video id="remote-video" autoplay></video></br>


<script>

    const sessionId = '{{ session_id }}';
    const retryDelay = 8000;
    const maxRetries = 10;


    const peerConnection = new RTCPeerConnection();

    async function sendOffer(sessionId, offer) {
        const response = await fetch('/offer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ session_id: sessionId, offer: offer })
        });
        if (response.ok) {
            const data = await response.json();
            return data;
        } else {
            throw new Error('Network response was not ok.');
        }
    }

    async function getAnswer(sessionId) {
        let response;
        let retries = 0; // Contador de tentativas
        do {
            response = await fetch(`/get-answer?sessionId=${sessionId}`);
            if (response.status === 204) {
                console.log('Ainda não há resposta (answer), tentando novamente...');
                await new Promise(resolve => setTimeout(resolve, retryDelay));
                retries++; // Incrementa o contador de tentativas
                if (retries >= maxRetries) {
                    throw new Error('Número máximo de tentativas alcançado.');
                }
            } else if (response.ok) {
                const data = await response.json();
                if (data.answer) {
                    return data.answer;
                }
            } else {
                throw new Error(`Erro ao buscar resposta (answer): ${response.statusText}`);
            }
        } while (true);
    }


    async function sendIceCandidate(candidate) {
        await fetch('/ice-candidate-doctor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ session_id: sessionId, candidate: candidate })
        });
    }


    async function fetchCandidates() {
        const response = await fetch(`/get-ice-candidate-from-doctor?session_id=${sessionId}`);
        if (response.status === 204) {
            console.log('Ainda não há candidatos ICE, tentando novamente...');
            setTimeout(fetchCandidates, retryDelay);
        } else if (response.ok) {
            const candidates = await response.json();
            candidates.forEach(async (candidate) => {
                await peerConnection.addIceCandidate(new RTCIceCandidate(candidate));
            });
            console.log('Todos os candidatos ICE foram adicionados com sucesso.');
        } else {
            throw new Error(`Erro ao buscar candidatos ICE: ${response.statusText}`);
        }
    }



    peerConnection.onicecandidate = event => {
        if (event.candidate) {
            sendIceCandidate(event.candidate)
            .catch(error => {
                console.error('Falha ao enviar candidato ICE:', error);
            });
        }
    };


    // Adicione aqui mais manipulações de eventos, como ontrack para fluxos de mídia

    navigator.mediaDevices.getUserMedia({ video: true, audio: true })
        .then(stream => {
            document.getElementById('local-video').srcObject = stream;
            stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));

            // Cria a oferta e configura a descrição local
            return peerConnection.createOffer();
        })
        .then(offer => peerConnection.setLocalDescription(offer))
        .then(() => sendOffer(sessionId, peerConnection.localDescription))
        .then(() => getAnswer(sessionId))
        .then(answer => {
            // Configura a descrição remota com a resposta obtida
            return peerConnection.setRemoteDescription(new RTCSessionDescription(answer));
        })
        .then(() => fetchCandidates())
        .catch(error => console.error('Error during offer-answer exchange:', error));

    peerConnection.ontrack = (event) => {
        const remoteVideo = document.getElementById('remote-video');
        if (remoteVideo.srcObject !== event.streams[0]) {
            remoteVideo.srcObject = event.streams[0];
            console.log('Remote stream added.');
        }
    };


</script>

</body>
</html>
